{%- assign tools_exist = false %}
{%- if available_tools and available_tools.size > 0 %}
  {%- assign tools_exist = true %}
{%- endif %}

{%- assign documents_exist = false %}
{%- assign render_docs = false %}
{%- if documents and documents.size > 0 %}
  {%- assign documents_exist = true %}
  {%- assign render_docs = true %}
{%- endif %}

{%- assign grounding = grounding | default: "disabled" | upcase %}
{%- assign grounding_enabled = grounding == "ENABLED" %}
{%- assign tools_or_docs_exist = tools_exist or documents_exist %}
{%- assign render_tools_section = true %}
{%- assign render_grounding = grounding_enabled and tools_or_docs_exist %}

{%- assign render_platform_instruction_override = false %}
{%- if platform_instruction_override and platform_instruction_override != "" %}{% assign render_platform_instruction_override = true %}{% endif -%}

{%- assign render_developer_instruction = false %}
{%- if developer_instruction and developer_instruction != "" %}{% assign render_developer_instruction = true %}{% endif -%}

{%- assign render_platform_instruction_override = platform_instruction_override and platform_instruction_override != "" -%}

<BOS_TOKEN>

{%- if render_tools_section or render_platform_instruction_override or render_grounding or json_mode -%}
<|START_OF_TURN_TOKEN|><|SYSTEM_TOKEN|><|START_TEXT|>
{%- elsif render_developer_instruction == false -%}
<|START_OF_TURN_TOKEN|><|SYSTEM_TOKEN|>
{%- endif %}

{%- assign rendered_platform_turn_chunk = false %}

{%- if render_platform_instruction_override -%}
{{ platform_instruction_override }}
{%- assign rendered_platform_turn_chunk = true %}
{%- else %}
{%- endif %}

{%- assign rendered_non_system = false %}
{%- if render_grounding -%}
{%- if rendered_platform_turn_chunk %}

{% endif -%}
{{ grounding_preamble }}
{%- assign rendered_platform_turn_chunk = true %}
{%- endif %}

{%- if render_tools_section %}
{%- if rendered_platform_turn_chunk %}

{% endif -%}
# Available Tools
```json
[
{%- if tools_or_docs_exist %}
{%- if documents_exist %}
    {{ document_injector_tool }}
{%- endif %}
{%- for tool in available_tools %}
    {%- if forloop.first and documents_exist %},{% endif %}
    {"name": "{{ tool.name }}", "description": "{{ tool.definition.description }}", "parameters": {{ tool.definition.json_schema }}, "responses": null}
    {%- unless forloop.last %},{% endunless %}
{%- endfor %}
{%- else %}
{% endif %}
]
```
{%- assign rendered_platform_turn_chunk = true %}
{%- endif -%}

{%- if json_mode -%}
{%- if rendered_platform_turn_chunk %}

{% endif -%}
When generating JSON objects, do not generate block markers. Generate an object directly without prefixing with ```json. Return only the JSON and nothing else.
    {%- if json_schema and json_schema != "" %}
Your output should adhere to the following json schema:
{{ json_schema }}
    {%- endif -%}
{%- assign rendered_platform_turn_chunk = true %}
{%- endif %}
{%- if rendered_platform_turn_chunk -%}
<|END_TEXT|><|END_OF_TURN_TOKEN|>
{%- elsif render_developer_instruction == false -%}
<|END_OF_TURN_TOKEN|>
{%- endif %}
{%- if render_developer_instruction -%}
<|START_OF_TURN_TOKEN|><|SYSTEM_TOKEN|><|START_TEXT|>{{ developer_instruction }}<|END_TEXT|><|END_OF_TURN_TOKEN|>
{%- endif %}
{%- for message in messages -%}
  {%- if rendered_non_system and render_docs -%}
    <|START_OF_TURN_TOKEN|><|CHATBOT_TOKEN|>
    {%- unless skip_thinking -%}
      <|START_THINKING|>I will look through the document to address the users needs.<|END_THINKING|>
    {%- endunless -%}
    <|START_ACTION|>[
    {"tool_call_id": "0", "tool_name": "direct-injected-document", "parameters": {}}
]<|END_ACTION|><|END_OF_TURN_TOKEN|><|START_OF_TURN_TOKEN|><|SYSTEM_TOKEN|><|START_TOOL_RESULT|>[
    {
        "tool_call_id": "0",
        "results": {
  {%- for doc in documents %}
            "{{ forloop.index0 }}": {{doc}}
            {%- unless forloop.last %},{% endunless %}
  {%- endfor %}
        },
        "is_error": null
    }
]<|END_TOOL_RESULT|><|END_OF_TURN_TOKEN|>
  {%- assign render_docs = false -%}
{%- endif -%}
{%- if message.tool_calls.size > 0 or message.content.size > 0 or message.tool_results -%}
  <|START_OF_TURN_TOKEN|>
  {%- assign msg_role_downcased = message.role | downcase %}
  {%- if msg_role_downcased != 'system' %}
    {%- assign rendered_non_system = true %}
  {%- endif -%}
{{ msg_role_downcased | replace: 'user', '<|USER_TOKEN|>' | replace: 'chatbot', '<|CHATBOT_TOKEN|>' | replace: 'system', '<|SYSTEM_TOKEN|>' | replace: 'tool', '<|SYSTEM_TOKEN|><|START_TOOL_RESULT|>' }}
  {%- if message.tool_calls.size > 0 -%}
    {%- if message.content.size > 0 and message.content[0].type != 'image' and skip_thinking != true -%}
    <|START_THINKING|>{{ message.content[0].data }}<|END_THINKING|>
    {%- endif -%}
    <|START_ACTION|>[
    {%- for res in message.tool_calls %}
    {{res}}
      {%- unless forloop.last %},{% endunless %}
    {%- endfor %}
]<|END_ACTION|>
  {%- elsif msg_role_downcased == 'tool' %}[
    {%- for res in message.tool_results %}
    {
        "tool_call_id": "{{ res.tool_call_id }}",
        "results": {
       {%- for doc in res.documents %}
            "{{ forloop.index0 }}": {{doc}}
            {%- unless forloop.last %},{% endunless %}
       {%- endfor %}
        },
        "is_error": null
    }
       {%- unless forloop.last %},{% endunless %}
     {%- endfor %}
]<|END_TOOL_RESULT|>
     {%- elsif msg_role_downcased == "chatbot" -%}
        {%- if message.content.size > 0 and message.content[0].type == 'thinking' and skip_thinking != true -%}
          <|START_THINKING|>{{ message.content[0].data }}<|END_THINKING|>
        {%- endif -%}
        <|START_TEXT|>
        {%- if message.content[0].type == 'text' -%}
          {{ message.content[0].data }}
        {%- elsif message.content[1].type == 'text' -%}
          {{ message.content[1].data }}
        {%- endif -%}
      <|END_TEXT|>
      {%- else -%}
        {%- for content_item in message.content -%}
          {%- assign prev_index = forloop.index0 | minus: 1 -%}
          {%- if content_item.type == 'text' %}
            {%- assign prev_item_not_text = prev_index >= 0 and message.content[prev_index].type != 'text' %}
            {%- if forloop.first or prev_item_not_text -%}
              <|START_TEXT|>
            {%- endif %}
            {%- if prev_index >= 0 and message.content[prev_index].type == 'text' %}
{% endif -%}
            {{ content_item.data }}
            {%- if forloop.last -%}
              <|END_TEXT|>
            {%- endif %}
          {%- else -%}
          {%- if prev_index >= 0 and message.content[prev_index].type == 'text' -%}
          <|END_TEXT|>
          {%- endif -%}
            {{ content_item.data }}
          {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
  <|END_OF_TURN_TOKEN|>
  {%- endif -%}
{%- endfor -%}
{%- if render_docs -%}
  <|START_OF_TURN_TOKEN|><|CHATBOT_TOKEN|>
    {%- unless skip_thinking -%}
    <|START_THINKING|>I will look through the document to address the users needs.<|END_THINKING|>
    {%- endunless -%}
    <|START_ACTION|>[
    {"tool_call_id": "0", "tool_name": "direct-injected-document", "parameters": {}}
]<|END_ACTION|><|END_OF_TURN_TOKEN|><|START_OF_TURN_TOKEN|><|SYSTEM_TOKEN|><|START_TOOL_RESULT|>[
    {
        "tool_call_id": "0",
        "results": {
   {%- for doc in documents %}
            "{{ forloop.index0 }}": {{doc}}
            {%- unless forloop.last %},{% endunless %}
   {%- endfor %}
        },
        "is_error": null
    }
]<|END_TOOL_RESULT|><|END_OF_TURN_TOKEN|>
  {%- assign render_docs = false -%}
{%- endif -%}
<|START_OF_TURN_TOKEN|><|CHATBOT_TOKEN|>{{ response_prefix }}