{%- set reasoning_effort_normalized = reasoning_effort | lower if reasoning_effort is not undefined and reasoning_effort else none -%}
{%- set reasoning = reasoning if reasoning is not undefined else reasoning_effort_normalized != "none" -%}
{% include "chat_merged_template.jinja" %}