{%- set thinking_default_val = "I will assist the user with their request." -%}
{%- set reasoning = reasoning if reasoning is not undefined else (false if reasoning_effort is defined and reasoning_effort | lower == "none" else true) -%}
{% include "chat_merged_template.jinja" %}
