{%- macro print_tool_content(item) %}
{%- if item.type|lower == "text" -%}
{%- set text_wrapper = {"content": item.text} -%}
{{ text_wrapper|tojson }}
{%- elif item.type|lower == "document" and item.document and "data" in item.document -%}
{{ item.document.data|tojson }}
{%- else -%}
{{ item|tojson }}
{%- endif -%}
{%- endmacro %}
{%- macro print_msg(msg) %}
    {%- if msg is string -%}
<|START_TEXT|>{{ msg }}<|END_TEXT|>
    {%- elif msg.content is string -%}
<|START_TEXT|>{{ msg.content }}<|END_TEXT|>
    {%- else %}
        {%- set last_was_text = namespace(value=false) %}
        {%- for content in msg.content %}
            {%- if content.type|lower == "text" -%}
                {%- if not last_was_text.value -%}
                    <|START_TEXT|>
                {%- endif -%}
    {{ content.text }}
                {%- if loop.last -%}
                  <|END_TEXT|>
                {%- endif %}
                {%- set last_was_text.value = true -%}
            {%- else -%}
                {%- if last_was_text.value -%}
                    <|END_TEXT|>
                {%- endif -%}
                {%- set last_was_text.value = false -%}
            {%- endif -%}
            {%- if content.type|lower == "image" -%}
                {%- if content.data -%}
{{ content.data }}
                {%- else -%}
<|IMG_PATCH|>
                {%- endif -%}
            {%- endif -%}
        {%- endfor %}
    {%- endif %}
{%- endmacro %}
