name: golang lint

on:
  push:
    branches: [main]
  pull_request: {}
  merge_group: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  # renovate: datasource=github-releases depName=golangci/golangci-lint
  GOLANGCI_LINT_VERSION: v2.5.0

jobs:
  golangci:
    name: go-lint
    runs-on: depot-ubuntu-24.04-16
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod

      - name: Check if golint needs to be run
        id: check-go-lint
        run: |
          # Check for modified go files
          PATHS=(
            ':*.go'
            ':.github/workflows/golangci-lint.yaml'
            ':.golangci.yaml'
          )
          git fetch origin main
          if git diff --quiet origin/main -- "${PATHS[@]}"; then
            echo "No go files modified!"
          else
            echo "Go files modified"
            echo "run_go_lint=true" >> $GITHUB_OUTPUT
          fi

          # Not run if this is triggered by merge queue
          if [[ ${{ github.event_name }} == 'merge_group' ]]; then
            echo "This is triggered by merge queue!"
            echo "run_go_lint=false" >> $GITHUB_OUTPUT
          fi
